[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][error]-TypeError: Native variant type conversion failed. Function argument [0] expected type: string | RawMessage | string | RawMessage[]    at <anonymous> (main.js:27)


[Scripting][warning]-js以重製

[Scripting][error]-Plugin [PARCORR - 1.0.0] - [main.js] ran with error: [TypeError: cannot read property 'setScore' of undefined    at <anonymous> (main.js:13)
    at forEach (native)
    at <anonymous> (main.js:18)
]

[Scripting][warning]-js以重製

[Scripting][error]-Plugin [PARCORR - 1.0.0] - [main.js] ran with error: [TypeError: cannot read property 'setScore' of undefined    at <anonymous> (main.js:13)
    at forEach (native)
    at <anonymous> (main.js:18)
]

[Scripting][warning]-js以重製

[Scripting][error]-Plugin [PARCORR - 1.0.0] - [main.js] ran with error: [TypeError: cannot read property 'setScore' of undefined    at <anonymous> (main.js:14)
]

[Scripting][warning]-js以重製

[Scripting][error]-Plugin [PARCORR - 1.0.0] - [main.js] ran with error: [TypeError: cannot read property 'setScore' of undefined    at <anonymous> (main.js:19)
]

[Scripting][warning]-js以重製

[Scripting][error]-Plugin [PARCORR - 1.0.0] - [main.js] ran with error: [TypeError: cannot read property 'setScore' of undefined    at <anonymous> (main.js:19)
]

[Scripting][error]-Unhandled promise rejection: TypeError: cannot read property '0' of undefined

[Scripting][warning]-js以重製

[Scripting][error]-Plugin [PARCORR - 1.0.0] - [main.js] ran with error: [TypeError: cannot read property 'setScore' of undefined    at <anonymous> (main.js:19)
]

[Scripting][warning]-js以重製

[Scripting][error]-Plugin [PARCORR - 1.0.0] - [main.js] ran with error: [TypeError: cannot read property 'setScore' of undefined    at <anonymous> (main.js:31)
]

[Scripting][warning]-js以重製

[Scripting][error]-Plugin [PARCORR - 1.0.0] - [main.js] ran with error: [TypeError: cannot read property 'setScore' of undefined    at <anonymous> (main.js:34)
]

[Scripting][error]-Unhandled promise rejection: TypeError: cannot read property '0' of undefined

